.App {
  text-align: center;
  color:floralwhite !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}


h1{
  font-size: larger;
  height: 5vh;
  margin-top: 25vh;
}


.location-selector {
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
}

.dropdown {
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (max-width: 555px) {
  .location-selector{
    display: flex;
    flex-direction: column;
  }
  
}

